main {
  background-color: #d3d3d3;
  color: #000;
}

a,
a:visited {
  color: #2196F3;
  font-weight: bold;
}

main>div {
  padding: 50px;
}

section h3 {
  font-size: 2rem;
  line-height: 2rem;
}

@media	screen and (max-width: 599px) {
  section:first-of-type {
    padding: 0;
  }

  main>div {
    padding: 25px;
  }
}

@media	screen and (min-width: 600px) and (max-width: 959px) {
  section:first-of-type {
    padding: 25px;
  }
}

@media	screen and (min-width: 960px) and (max-width: 1279px) {
  section:first-of-type {
    padding: 25px;
  }
}

@media	screen and (min-width: 1280px) and (max-width: 1919px) {
  section:first-of-type {
    padding: 25px;
  }
}

@media	screen and (min-width: 1920px) and (max-width: 5000px) {
  section:first-of-type {
    padding: 25px;
  }
}
