/* You can add global styles to this file, and also import other style files */
@import "tailwindcss/base";

@layer base { 
  /* Override default scroll width & look */
  ::-webkit-scrollbar {
    @apply w-1;
  }
    
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px #cbcbcd;
    -webkit-box-shadow: inset 0 0 6px #cbcbcd;
  }
    
  ::-webkit-scrollbar-thumb {
    background-color: #a1a1a4;
  }
}

@layer components {
  .card {
    @apply relative rounded-lg border border-gray-300 bg-white px-6 py-5 shadow-sm flex items-center space-x-3 hover:border-gray-400 focus-within:ring-2 focus-within:ring-offset-2 focus-within:ring-indigo-500
  }
}

@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "@angular/material/prebuilt-themes/indigo-pink.css";
