<div class="form-page-wrapper" fxLayout="row" fxLayoutAlign="start">

    <section class="form-page-intro" fxFlex fxHide fxShow.gt-xs>
      <div class="logo"><img src="assets/images/logos/company.logo.png"></div>
      <div class="title company">
        <span><b>Company</b> Name</span>
      </div>
    </section>
  
    <div class="form-wrapper">
      <section class="form-section">
        <div class="logo" fxHide.gt-xs><img src="assets/images/logos/company.logo.png"></div>
        <div class="title">RESET PASSWORD</div>

        <form [formGroup]="resetPasswordForm" novalidate *ngIf="!codeExpired && !isLoading && !isPasswordReset">
            <mat-form-field appearance="outline" >
                <mat-label>Email</mat-label>
                <input matInput type="email" formControlName="email">
                <mat-icon matSuffix>mail</mat-icon>
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Password</mat-label>
              <input matInput type="password" formControlName="password" minlength="5" autocomplete="current-password" required>
              <mat-icon matSuffix>vpn_key</mat-icon>
              <mat-error *ngFor="let validation of resetPasswordValidation.password">
                <mat-error *ngIf="resetPasswordForm.get('password').hasError(validation.type) && 
                                  (resetPasswordForm.get('password').dirty || 
                                  resetPasswordForm.get('password').touched)">
                  {{validation.message}}</mat-error>
              </mat-error>
            </mat-form-field>

            <button mat-raised-button color="primary" class="submit-button" aria-label="RESET"
              [disabled]="resetPasswordForm.invalid" (click)="confirmPasswordReset()">
              RESET
            </button>
        </form>
        
        <section *ngIf="codeExpired && !isLoading && !isPasswordReset">
          <p>
            Sorry, looks like the reset code has already been used or has expired.
          </p>

          <div fxLayout="row" fxLayoutAlign="start center">
            <a class="link" [routerLink]="'/auth/forgot-password'">Go back to Forgot Password</a>
          </div>
        </section>

        <section *ngIf="!isLoading && isPasswordReset">
          <p>Your password has been successfully changed.</p>

          <div fxLayout="row" fxLayoutAlign="start center">
            <a class="link" [routerLink]="'/auth/login'">Go back to Log In</a>
          </div>
        </section>

      </section>
    </div>
  
  </div>
  