<div class="inset-0 flex flex-col min-w-0 overflow-hidden">

    <mat-drawer-container class="flex-auto h-screen" (backdropClick)="onBackdropClicked()">

        <!-- Drawer -->
        <mat-drawer class="w-full md:w-1/2" [mode]="drawerMode" [opened]="false" [position]="'end'"
            [disableClose]="true" #matDrawer>
            <router-outlet></router-outlet>
        </mat-drawer>

        <mat-drawer-content class="flex flex-col">

            <!-- Main -->
            <div class="flex-auto">

                <!-- Header -->
                <div class="flex flex-row flex-auto justify-between py-8 px-6 md:px-8 border-b">

                    <!-- Title -->
                    <div>
                        <div class="text-4xl font-extrabold tracking-tight leading-none">Garage</div>
                        <div class="ml-0.5 font-medium text-secondary">
                            <ng-container *ngIf="vehiclesCount > 0">
                                {{vehiclesCount}}
                            </ng-container>
                            {{vehiclesCount | i18nPlural: {
                            '=0' : 'No vehicles',
                            '=1' : 'vehicle',
                            'other': 'vehicles'
                            } }}
                        </div>
                    </div>

                    <!-- Main actions -->
                    <div class="flex items-center">
                        <div class="flex-auto">
                        </div>
                        <button class="ml-4" mat-flat-button [color]="'primary'" (click)="newVehicle()">
                            <mat-icon [svgIcon]="'heroicons_outline:plus'"></mat-icon>
                            <span class="ml-2 mr-1">Add</span>
                        </button>
                    </div>
                </div>

                <!-- Vehicles list -->
                <div class="relative">
                    <ng-container *ngIf="vehicles$ | async as vehicles">
                        <ng-container *ngIf="vehicles.length; else noVehicles">
                            <ng-container *ngFor="let vehicle of vehicles; let i = index;">
                                <!-- Group -->
                                <ng-container
                                    *ngIf="i === 0 || vehicle.manufacturer.charAt(0) !== vehicles[i - 1].manufacturer.charAt(0)">
                                    <div
                                        class="z-10 sticky top-0 -mt-px px-6 py-1 md:px-8 border-t border-b font-medium uppercase text-secondary bg-gray-300">
                                        {{vehicle.manufacturer.charAt(0)}}
                                    </div>
                                </ng-container>
                                <!-- Vehicle -->
                                <a class="z-20 flex items-center px-6 py-4 md:px-8 cursor-pointer border-b"
                                    [ngClass]="{'hover:bg-gray-100 dark:hover:bg-hover': !selectedVehicle || selectedVehicle.vehicle_id !== vehicle.vehicle_id,
                                                'bg-primary-50 dark:bg-hover': selectedVehicle && selectedVehicle.vehicle_id === vehicle.vehicle_id}"
                                    [routerLink]="['./vehicle', vehicle.vehicle_id]">
                                    <div
                                        class="flex flex-0 items-center justify-center w-10 h-10 rounded-full overflow-hidden">
                                        <div
                                            class="flex items-center justify-center w-full h-full rounded-full text-lg uppercase bg-gray-200 text-gray-600 dark:bg-gray-700 dark:text-gray-200">
                                            {{vehicle.manufacturer.charAt(0)}}
                                        </div>
                                    </div>
                                    <div class="min-w-0 ml-4">
                                        <div class="font-medium leading-5 truncate">{{vehicle.year}} {{vehicle.model}}
                                        </div>
                                        <div class="leading-5 truncate text-secondary">{{vehicle.manufacturer}}</div>
                                    </div>
                                </a>
                            </ng-container>
                        </ng-container>
                    </ng-container>

                    <!-- No Vehicles -->
                    <ng-template #noVehicles>
                        <div class="p-8 sm:p-16 border-t text-4xl font-semibold tracking-tight text-center">There are no
                            vehicles!</div>
                    </ng-template>

                </div>

            </div>

        </mat-drawer-content>

    </mat-drawer-container>

</div>