<main class="flex flex-col flex-auto min-w-0">
    <!-- Header -->
    <section class="bg-white px-4 py-5 border-b border-gray-200 sm:px-6">
        <div class="-ml-4 -mt-2 flex items-center justify-between flex-wrap sm:flex-nowrap">
            <div class="ml-4 mt-2">
                <h2 class="text-4xl font-extrabold leading-7 sm:leading-10">Garage</h2>
            </div>
            <div class="ml-4 mt-2 flex-shrink-0">
                <button type="button"
                    class="relative inline-flex items-center px-4 py-2 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">New</button>
            </div>
        </div>
    </section>

    <section class="flex-auto grid grid-cols-1 gap-5 sm:grid-cols-2 p-6 sm:p-10">
        <article
            class="flex flex-col max-w-140 w-full bg-white text-gray-800 relative overflow-hidden rounded-2xl shadow"
            *ngFor="let v of vehicles">
            <div class="flex items-center mx-6 sm:mx-8 mt-6 mb-4">
                <div class="flex flex-col">
                    <span class="text-2xl font-semibold leading-none">{{ v.year }} {{ v.model }}</span>
                    <span class="text-sm text-gray-400 text-secondary leading-none mt-1">{{ v.manufacturer
                        }}</span>
                </div>
                <button class="ml-auto -mr-4" mat-icon-button [matMenuTriggerFor]="postCardMenu">
                    <mat-icon class="h-6 w-6 text-gray-400" [svgIcon]="'heroicons_outline:dots-vertical'"></mat-icon>
                </button>
                <mat-menu [xPosition]="'before'" #postCardMenu="matMenu">
                    <button mat-menu-item>
                        <span class="flex items-center">
                            <mat-icon class="h-6 w-6" [svgIcon]="'heroicons_outline:trash'"></mat-icon>
                            <span>Delete</span>
                        </span>
                    </button>
                </mat-menu>
            </div>
            <mat-divider></mat-divider>
            <div class="flex items-center mx-3 sm:mx-5 my-2 sm:my-3 text-gray-500">
                <button class="px-3 mr-1" mat-button [routerLink]="['./']">
                    <mat-icon class="h-6 w-6 mr-2" [svgIcon]="'heroicons_outline:pencil-alt'"></mat-icon>
                    <span>Edit</span>
                </button>
                <button class="px-3 mr-1" mat-button [routerLink]="['./']">
                    <mat-icon class="h-6 w-6 mr-2" [svgIcon]="'heroicons_outline:receipt-tax'"></mat-icon>
                    <span>Fuel</span>
                </button>
            </div>
        </article>
    </section>

</main>