<div class="form-page-wrapper" fxLayout="row" fxLayoutAlign="start">

    <section class="form-page-intro" fxFlex fxHide fxShow.gt-xs>
      <div class="logo"><img src="assets/images/logos/company.logo.png"></div>
      <div class="title company">
        <span><b>Company</b> Name</span>
      </div>
    </section>
  
    <div class="form-wrapper">
      <section class="form-section">
        <div class="logo" fxHide.gt-xs><img src="assets/images/logos/company.logo.png"></div>
        <div class="title">RECOVER YOUR PASSWORD</div>
        <form name="forgotPasswordForm" [formGroup]="forgotPasswordForm" novalidate>
  
          <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput type="email" placeholder="Email" formControlName="email" autocomplete="email" required>
            <mat-icon matSuffix>mail</mat-icon>
            <mat-error *ngFor="let validation of forgotPasswordValidation.email">
              <mat-error 
                *ngIf="forgotPasswordForm.get('email').hasError(validation.type) && (forgotPasswordForm.get('email').dirty || forgotPasswordForm.get('email').touched)">
                {{validation.message}}</mat-error>
            </mat-error>
          </mat-form-field>
  
          <button mat-raised-button color="primary" class="submit-button" aria-label="SEND RESET LINK"
            [disabled]="forgotPasswordForm.invalid" (click)="onSendResetLink()">
            SEND RESET LINK
          </button>
  
        </form>
  
        <div class="login" fxLayout="row" fxLayoutAlign="center center">
          <a class="link" [routerLink]="'/auth/login'">Go back to login</a>
        </div>
  
      </section>
    </div>
  
  </div>
  