<mat-toolbar>
    <div class="company">
        <span><b>Angular</b> Journey</span>
    </div>
    <!--
    We will use this later on.
    <div fxFlex fxShow="true" fxHide.lt-md>
      <button mat-button><strong>Project</strong></button>
    </div>
    -->
    <span fxFlex></span>
    <button mat-button *ngIf="!auth.user" (click)="goToLogin()">
        Sign In
    </button>

    <div *ngIf="auth.user">
        <button mat-icon-button [matMenuTriggerFor]="userMenu">
            <img class="avatar-photo" *ngIf="auth.user?.photoURL" [src]="auth.user?.photoURL" />
            <mat-icon *ngIf="!auth.user?.photoURL">person</mat-icon>
        </button>
        <mat-menu #userMenu="matMenu" xPosition="before">
            <ng-template matMenuContent>
                <!--<button mat-menu-item [routerLink]="'/user/settings'">Settings</button>-->
                <button mat-menu-item (click)="onLogout()">Logout</button>
            </ng-template>
        </mat-menu>
    </div>
</mat-toolbar>