<mat-toolbar class="flex items-center justify-between p-3 text-white bg-gray-900">
    <div>
        <span><b class="text-blue-500">Angular</b> Journey</span>
    </div>
    <button mat-button *ngIf="!auth.user" (click)="goToLogin()">
        Sign In
    </button>

    <div *ngIf="auth.user" class="mr-1">
        <button mat-icon-button [matMenuTriggerFor]="userMenu">
            <img class="inline-block h-10 w-10 rounded-full" *ngIf="auth.user?.photoURL" [src]="auth.user?.photoURL" />
            <mat-icon class="inline-block h-10 w-10 rounded-full" *ngIf="!auth.user?.photoURL">person</mat-icon>
        </button>
        <mat-menu #userMenu="matMenu" xPosition="before" class="bg-white mt-3">
            <ng-template matMenuContent>
                <!--<button mat-menu-item [routerLink]="'/user/settings'">Settings</button>-->
                <button mat-menu-item (click)="onLogout()" class="hover:bg-gray-300">Logout</button>
            </ng-template>
        </mat-menu>
    </div>
</mat-toolbar>