.form-section button {
    width: 80%;
    text-transform: none;
    color: #FFFFFF;
    font-size: 13px;
    margin-bottom: 10px;
}

.form-section .google {
    background-color: #D73D32;
}

.form-section>form mat-checkbox {
    margin: 0;
}

.form-section>form>.remember-forgot-password {
    margin-top: 8px;
}

.form-section>form>.remember-forgot-password>.remember-me {
    margin-bottom: 16px;
}

.form-section>form>.remember-forgot-password>.forgot-password {
    margin-bottom: 16px;
    color: #2196F3;
    font-weight: 700;
}