<main>
  <div fxLayout="row wrap">
    <section fxFlex fxFlex.lt-md="100" fxLayoutAlign="center center"><img src="client/assets/images/app-development.png" style="width: 100%;" /></section>
    <section fxFlex fxFlex.lt-md="100">
      <h3>Project Details</h3>
      <p>
        I want to work more with Angular and figured this application would be a perfect way to get started. My goal
        is to document this journey on <a href="https://medium.com/@zrolson" target="_blank">Medium</a>, share my
        experiences, and get input and direction from my fellow peers. My current plan is to tackle a small part of the
        application every two weeks and have a story written / published on or before that Sunday. I hope you will join
        me on this journey!
      </p>
    </section>
  </div>
</main>
