.form-page-wrapper {
    width: 100vw;
    overflow: hidden;
    height: 100vh;
    background-color: #fff;
    color: #000;
}

.form-page-intro {
    padding: 128px;
    background-color: #000;
    color: #fff;
}

.form-page-intro>.logo {
    width: 128px;
    margin-bottom: 32px;
}

.form-page-intro>.title {
    font-size: 42px;
    font-weight: 600;
    line-height: 1;
}

.form-wrapper {
    width: 400px;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

.form-section {
    padding: 128px 48px 48px 48px;
}

.form-section>.logo {
    margin: 32px auto;
}

.form-section>.title {
    font-size: 21px;
}

.form-section>form {
    width: 100%;
    padding-top: 32px;
}

.form-section>form mat-form-field {
    width: 100%;
}

.form-section>form>.submit-button {
    width: 100%;
    margin: 16px auto;
    display: block;
}

.form-section .register {
    margin: 32px auto 24px auto;
    width: 250px;
    font-weight: 500;
}
  
.form-section .register .text {
    margin-right: 8px;
}
  
.form-section .link {
    color: #2196F3;
    font-weight: 700;
}

.form-section .separator {
    font-size: 15px;
    font-weight: 600;
    margin: 24px auto;
    position: relative;
    overflow: hidden;
    width: 100px;
    text-align: center;
}

.form-section .separator .text {
    display: inline-flex;
    position: relative;
    padding: 0 8px;
    z-index: 9999;
}

.form-section .separator .text::before, 
.form-section .separator .text::after {
    content: '';
    display: block;
    width: 30px;
    position: absolute;
    top: 10px;
    border-top: 1px solid;
}

.form-section .separator .text::before {
    right: 100%;
}

.form-section .separator .text::after {
    left: 100%;
}
