$facebook-img: url(../../../../assets/images/logos/social/icon-facebook.png);
$linkedin-img: url(../../../../assets/images/logos/social/icon-linkedin.png);
$email-img: url(../../../../assets/images/logos/social/icon-email.png);

$linear-gradient: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2));

div.icon-facebook {
  background-image: $facebook-img;
  &:hover {
    background-image: $linear-gradient, $facebook-img;
  }
}

div.icon-linkedin {
  background-image: $linkedin-img;
  &:hover {
    background-image: $linear-gradient, $linkedin-img;
  }
}

div.icon-email {
  background-image: $email-img;
  &:hover {
    background-image: $linear-gradient, $email-img;
  }
}
