<header class="text-white overflow-hidden">
  <app-nav></app-nav>
  <section class="p-10 mt-16">
    <h1 class="text-6xl font-bold mb-4 sm:text-7xl">Welcome</h1>
    <p class="w-full md:w-1/2">
      This is a personal project of mine that allows you to track your fill-ups, fuel consumption, fuel costs.
      Utilizing the Geolocation API we attempt to locate fuel stations in your current area. If we can't determine the
      station you can help us by filling in the location section of your fuel logs.</p>
  </section>
</header>